/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*#home{
	height:50px;
	width:80px;
	font-size: 20px;
	text-align: center;
	margin-left: 5px;
	margin-: 100px;
	border: 1px solid grey;
	box-shadow: 5px 5px 5px grey;
	border-radius: 5px ;
}*/
#container{
	height:100%;
	width:100%;
}
#jscontent{
	float:left;
	width:50%;

}
#rorcontent{
	float:right;
	width:50%;

	top:100px;
	
}
#home{
	float:center;
}