 #wrap {
 				font-family: 'Open Sans', arial, sans-serif;
        		font-size: 20px;
        		letter-spacing: 2px;
        		background-color: #fff;
        		text-align: center;
                width: 365px;
                margin: auto;
                padding-top: 100px;
                
               #goal {
                		 display: inline-block;
                        margin: 3px;
                        color: grey;        
                }

                #message {
                        font-weight: 600;
                        color: #121212;
                }
        }    